*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 20px 20px;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
  }

  .navLogos{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
  }

  .navLogos p {
    font-size: 40px;
    font-family: 'Macondo', cursive;
  }
  
  header.abajo {
    background-color: #f5f5f5;
    padding: 0px 20px;
  }
  
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav > ul {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  nav > ul > li {
    width: 100%;
    height: 100%;
    list-style: none;
    display:flex;
    font-size: 1.1rem;
    align-items: center;
  }
  
  nav > ul > li > a:hover{
    color: var(--primary-color);
    visibility: visible;
    transition: all 0.3s;
  }
  
  nav > ul > li:hover ul{
    visibility: visible;
    transition: all 0.3s;
  }
  
  nav > ul > li > a {
    position: relative;
    margin: 0 15px;
    font-weight: 600;
    transition: 0.7s;
    cursor:pointer;
    color: black;
    text-decoration: none;
  }
  
  
  #check{
    display: none;
  }
  
  .block-scroll {
    overflow:hidden;
  }
  
  
  nav > label > i {
    font-size:2rem;
    visibility: hidden;
    cursor:pointer;
  }
  
  .sld {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .active{
    color: var(--primary-color);
  }

  /*-------slider-------*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.container-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  height: 100vh;
  width: 400%;
  margin-left: -100%;
}
.slider-section {
  width: 100%;
}
.title-card{
  position: absolute;
  color: #000;
  z-index: 2;
  font-size: 1.9rem;
  top:0;
  margin-left: 150px;
  margin-top: 40vh;
  text-align: left;
}
.slider-img {
  display: block;
  width: 100%;
  height: 100vh;
  filter: brightness(80%);
  object-fit: cover;
}
.slider-btn {
  position: absolute;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 100% 0px;
  cursor: pointer;
  color: var(--primary-color);
}
.slider-btn-right {
  right: 0px;
}
.slider-btn-right:hover {
  right: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%,
    rgba(2, 0, 36, 0.5) 255%
  );
}

.slider-btn-left {
  left: 0px;
}
.slider-btn-left:hover {
  left: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%,
    rgba(2, 0, 36, 0) 255%
  );
}


/* -------- services ------*/

#services {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

#services h2{
  font-size: 2rem;
  margin: 40px;
}

.servicesContainer{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display:  flex;
  justify-content: space-around;
}

.serviceCard{
  max-width: 250px;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 20px;
}

.cardTittle i{
  font-size: 70px;
  padding-bottom: 20px;
}

.cardContent {
  margin-top: 15px;
}

.cardContent p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.cardContent button{
  width: 80%;
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  font-weight: 600;
}